.active {
    display: block !important;
}

.hide {
    display: none !important;
}

.flex {
    display: flex !important;
}

.color-back {
    background-color: rgba(0, 0, 0, 0.983) !important;
    opacity: 0.5 !important;
}

.show-data {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--spacing-32);
    padding: 15px;

    @include breakpoint("lg") {
        flex-direction: row;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;
        border: 2px solid var(--Grayish-blue);
        border-radius: 5px;
        padding: 15px;
        box-shadow: 0px 3px 16px 0px hsl(220deg 13% 13% / 58%);

        .img-product {
            border: 1px solid var(--Grayish-blue);
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                border: 2px solid var(--color-pri-orange);
                opacity: 0.5;
            }
        }

        .parent {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;

            h3 {
                font: var(--font-body-l);
                color: var(--Very-dark-blue);
                text-align: start;

                @include breakpoint("lg") {
                    font: var(--font-body-g);
                }
            }

            .price {
                font: var(--font-body-l);
                color: var(--Very-dark-blue);
                text-align: start;

                @include breakpoint("lg") {
                    font: var(--font-body-g);
                }

                .percentage {
                    font: var(--font-body-s);
                    background-color: var(--Very-dark-blue);
                    padding: 5px 7px;
                    color: var(--color-White);
                    border-radius: 5px;
                }

                .discount {
                    font: var(--font-body-s);
                    color: var(--Grayish-blue);
                }
            }
        }
    }
}

.card {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 65px;
    padding: 16px 32px;

    @include breakpoint("lg") {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;

        @include breakpoint("lg") {
            width: 50%;
        }

        .slideshow {
            position: relative;

            .previous {
                position: absolute;
                top: 50%;
                left: 6px;
                transform: translate(-50%, -50%);
                cursor: pointer;
            }

            .img-product-big {
                border-radius: 15px;
                cursor: pointer;

                &:hover {
                    border: 2px solid var(--color-pri-orange);
                    opacity: 0.5;
                }
            }

            .next {
                position: absolute;
                top: 50%;
                right: -6px;
                transform: translate(-50%, -50%);
                cursor: pointer;
            }
        }

        .gallery-small {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 15px;
            border-radius: 15px;

            .img-product-small {
                width: 20%;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    border: 2px solid var(--color-pri-orange);
                    opacity: 0.5;
                }
            }
        }
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;

        @include breakpoint("lg") {
            width: 50%;
        }

        span {
            font: var(--font-body-s);
            color: var(--Dark-grayish-blue);
        }

        .subtitle {
            font: var(--font-heading-1);
            color: var(--Very-dark-blue);
        }

        .paragraph {
            font: var(--font-body-s);
            color: var(--Dark-grayish-blue);
        }

        .price {
            font: var(--font-body-l);
            color: var(--Very-dark-blue);
            text-align: center;

            @include breakpoint("lg") {
                font: var(--font-body-g);
            }

            .percentage {
                font: var(--font-body-s);
                background-color: var(--Very-dark-blue);
                padding: 5px 7px;
                color: var(--color-White);
                border-radius: 5px;
            }
        }

        .discount {
            font: var(--font-body-s);
            color: var(--Grayish-blue);
        }

        .counter-cart {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;
            width: 100%;

            @include breakpoint("lg") {
                flex-direction: row;
            }

            .counter {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 5px;
                padding: 5px;
                background-color: var(--Grayish-blue);
                border-radius: 5px;
                width: 100%;
                font: var(--font-button-m);

                @include breakpoint("lg") {
                    width: 50%;
                    font: var(--font-button-l);
                }

                :first-child,
                :last-child {
                    color: var(--color-pri-orange);
                    cursor: pointer;
                }

                :nth-child(2) {
                    color: var(--Very-dark-blue);
                    cursor: pointer;
                }
            }
        }
    }
}
