:root {
  --font-family: "Kumbh Sans", sans-serif;
  --color-pri-orange: hsl(26, 100%, 55%);
  --color-pti-pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --color-White: hsl(0, 0%, 100%);
  --spacing-0: 0;
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-64: 64px;
  --spacing-80: 80px;
  --font-heading-1: 700 40px/110% var(--font-family);
  --font-heading-2: 700 24px/110% var(--font-family);
  --font-body-s: 400 16px/140% var(--font-family);
  --font-body-m: 700 16px/140% var(--font-family);
  --font-body-l: 400 18px/160% var(--font-family);
  --font-body-g: 700 18px/160% var(--font-family);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background-color: var(--Light-grayish-blue);
  height: 7000px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
  background: none;
}

img,
svg,
picture,
video,
figure {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: var(--spacing-0) var(--spacing-16);
  max-width: 1440px;
  margin: var(--spacing-0) auto;
}
@media (min-width: 1024px) {
  .container {
    padding: var(--spacing-0) var(--spacing-80);
  }
}

.header .container {
  padding-block: var(--spacing-16);
}
.header .container .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: var(--spacing-16);
}
.header .container .navbar > * {
  flex-basis: 33%;
}
@media (min-width: 1024px) {
  .header .container .navbar {
    justify-content: space-between;
    align-items: center;
  }
  .header .container .navbar > * {
    flex-basis: auto;
  }
}
.header .container .navbar .hamburger-menu {
  display: block;
}
.header .container .navbar .hamburger-menu img {
  width: 10%;
}
@media (min-width: 1024px) {
  .header .container .navbar .hamburger-menu {
    display: none;
  }
}
.header .container .navbar .logo img {
  width: 80%;
}
@media (min-width: 1024px) {
  .header .container .navbar .logo img {
    width: 90%;
  }
}
.header .container .navbar .menu {
  display: none;
}
@media (min-width: 1024px) {
  .header .container .navbar .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-32);
  }
}
.header .container .navbar .menu a {
  font: var(--font-body-m);
  color: var(--Very-dark-blue);
}
.header .container .navbar .menu a:hover {
  color: var(--Dark-grayish-blue);
  padding-bottom: 15px;
  border-bottom: 2px solid var(--color-pri-orange);
}
@media (min-width: 1024px) {
  .header .container .navbar .menu a {
    font: var(--font-body-l);
  }
}
.header .container .navbar .icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-16);
}
.header .container .navbar .icons .cart {
  filter: brightness(0);
}
.header .container .navbar .icons .avatar {
  width: 15%;
}
.header .container .show-product {
  padding-block: var(--spacing-16);
  border: 2px solid black;
}
.header .container .show-product h1 {
  font: var(--font-heading-2);
  color: var(--Very-dark-blue);
  text-align: center;
}
@media (min-width: 1024px) {
  .header .container .show-product h1 {
    font: var(--font-heading-1);
  }
}
.header .container .show-product .show-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 15px;
}
@media (min-width: 1024px) {
  .header .container .show-product .show-data {
    flex-direction: row;
  }
}
.header .container .show-product .show-data .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  border: 2px solid var(--Dark-grayish-blue);
  border-radius: 5px;
  padding: 15px;
}
.header .container .show-product .show-data .content .img-product {
  border: 1px solid var(--Grayish-blue);
}
.header .container .show-product .show-data .content .parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.header .container .show-product .show-data .content .parent h3 {
  font: var(--font-body-l);
  color: var(--Very-dark-blue);
  text-align: center;
}
@media (min-width: 1024px) {
  .header .container .show-product .show-data .content .parent h3 {
    font: var(--font-body-g);
  }
}
.header .container .show-product .show-data .content .parent .price {
  font: var(--font-body-l);
  color: var(--Very-dark-blue);
  text-align: center;
}
@media (min-width: 1024px) {
  .header .container .show-product .show-data .content .parent .price {
    font: var(--font-body-g);
  }
}
.header .container .show-product .show-data .content .parent .price .percentage {
  font: var(--font-body-s);
  background-color: var(--Very-dark-blue);
  padding: 5px 7px;
  color: white;
  border-radius: 5px;
}
.header .container .show-product .show-data .content .parent .price .discount {
  font: var(--font-body-s);
  color: var(--Grayish-blue);
}
.header .container .show-product .show-data .content .btn-action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background: var(--color-pri-orange);
  width: 100%;
  padding: 5px 70px;
  border-radius: 5px;
  cursor: pointer;
}
.header .container .show-product .show-data .content .btn-action .btn {
  font-size: var(--font-body-s);
  color: white;
}
.header .container .show-product .show-data .content .btn-action .cart {
  filter: brightness(0) invert(1);
}
.header .container .card-women {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border: 2px solid black;
  padding-block: 16px;
}
.header .container .card-women .gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 2px solid black;
  width: 50%;
}
.header .container .card-women .gallery .img-product-big {
  border-radius: 15px;
  border: 2px solid black;
}
.header .container .card-women .gallery .gallery-small {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  border-radius: 15px;
}
.header .container .card-women .gallery .gallery-small .img-product-small {
  width: 15%;
}
.header .container .card-women .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  width: 50%;
}
.header .container .card-women .description span {
  font: var(--font-body-s);
  color: var(--Dark-grayish-blue);
}
.header .container .card-women .description .subtitle {
  font: var(--font-heading-1);
  color: var(--Very-dark-blue);
}
.header .container .card-women .description .paragraph {
  font: var(--font-body-s);
  color: var(--Dark-grayish-blue);
}

/*# sourceMappingURL=main.css.map */
