* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    background-color: var(--Light-grayish-blue);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    outline: none;
    border: none;
    background: none;
}

img,
svg,
picture,
video,
figure {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    padding: var(--spacing-0) var(--spacing-16);
    max-width: 1440px;
    margin: var(--spacing-0) auto;

    @include breakpoint("lg") {
        padding: var(--spacing-0) var(--spacing-80);
    }
}
