.header {
    .container {
        padding-block: var(--spacing-16);

        .navbar {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-block: var(--spacing-16);

            & > * {
                flex-basis: 33%;
            }

            @include breakpoint("lg") {
                justify-content: space-between;
                align-items: center;

                & > * {
                    flex-basis: auto;
                }
            }

            .hamburger-menu {
                display: block;

                img {
                    width: 10%;
                }

                @include breakpoint("lg") {
                    display: none;
                }
            }

            .logo {
                img {
                    width: 80%;

                    @include breakpoint("lg") {
                        width: 90%;
                    }
                }
            }

            .menu {
                display: none;

                @include breakpoint("lg") {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: var(--spacing-32);
                }

                a {
                    font: var(--font-body-m);
                    color: var(--Very-dark-blue);

                    @include breakpoint("lg") {
                        font: var(--font-body-l);
                    }
                }
            }

            .icons {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: var(--spacing-16);

                .cart {
                    width: 15%;

                    @include breakpoint("lg") {
                        width: 25%;
                    }
                }

                .avatar {
                    width: 15%;

                    @include breakpoint("lg") {
                        width: 25%;
                    }
                }
            }
        }

        .show-product {
            padding-block: var(--spacing-16);

            h1 {
                font: var(--font-heading-2);
                color: var(--Very-dark-blue);
                text-align: center;

                @include breakpoint("lg") {
                    font: var(--font-heading-1);
                }
            }
        }
    }
}
