header {
    position: relative;

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-block: var(--spacing-16);
        padding-inline: var(--spacing-16);
        max-width: 1440px;
        margin: var(--spacing-0) auto;

        & > * {
            flex-basis: 33%;
        }

        @include breakpoint("lg") {
            justify-content: space-between;
            align-items: center;
            background-color: var(--Light-grayish-blue);
            position: sticky;
            top: 0;
            z-index: 3;
            padding-inline: var(--spacing-80);
            box-shadow: 1px 1px 16px 0px hsl(220deg 13% 13% / 58%);

            & > * {
                flex-basis: auto;
            }
        }

        .hamburger-menu {
            .icon-hamburger {
                display: none;
                cursor: pointer;
                width: 20%;
            }

            @include breakpoint("lg") {
                display: none;
            }
        }

        .logo {
            cursor: pointer;
        }

        .parent {
            width: 100%;
            height: 100%;

            .menu {
                display: none;

                @include breakpoint("lg") {
                    display: flex;
                    flex-direction: row !important;
                    align-items: center;
                    justify-content: center;
                    gap: var(--spacing-32);
                    position: unset !important;
                    border: none !important;
                    padding: 0 !important;
                }

                .icon-close {
                    display: none;
                    cursor: pointer;
                    width: 12%;
                    margin-top: 25px;
                }

                a {
                    font: var(--font-body-m);
                    color: var(--Very-dark-blue);

                    @include breakpoint("lg") {
                        font: var(--font-body-l);
                    }

                    &:hover {
                        color: var(--Dark-grayish-blue);
                        padding-bottom: 15px;
                        border-bottom: 2px solid var(--color-pri-orange);
                    }
                }
            }
        }

        .icons-navbar {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: var(--spacing-16);

            .cart {
                filter: brightness(0);
                width: 25%;
                cursor: pointer;
            }

            .avatar {
                width: 35%;
                cursor: pointer;

                &:hover {
                    border: 2px solid var(--color-pri-orange);
                    border-radius: 50%;
                }
            }
        }
    }

    .container {
        padding-block: var(--spacing-8);
        position: relative;

        @include breakpoint("lg") {
            padding-block: var(--spacing-16);
        }

        .show-all-product {
            padding-block: var(--spacing-16);

            h1 {
                font: var(--font-heading-2);
                color: var(--Very-dark-blue);
                text-align: center;

                @include breakpoint("lg") {
                    font: var(--font-heading-1);
                }
            }
        }
        .show-collections {
            @extend .show-data;
        }

        // .card {
        //     display: none;
        //     flex-direction: column;
        //     justify-content: center;
        //     align-items: center;
        //     gap: 65px;
        //     padding: 16px 32px;

        //     @include breakpoint("lg") {
        //         flex-direction: row;
        //         justify-content: center;
        //         align-items: center;
        //     }

        //     .gallery {
        //         display: flex;
        //         flex-direction: column;
        //         justify-content: center;
        //         align-items: center;
        //         gap: 5px;

        //         @include breakpoint("lg") {
        //             width: 50%;
        //         }

        //         .img-product-big {
        //             border-radius: 15px;
        //         }

        //         .gallery-small {
        //             display: flex;
        //             justify-content: space-between;
        //             align-items: center;
        //             gap: 15px;
        //             border-radius: 15px;

        //             .img-product-small {
        //                 width: 20%;
        //                 border-radius: 5px;

        //                 &:hover {
        //                     border: 2px solid var(--color-pri-orange);
        //                     opacity: 0.5;
        //                 }
        //             }
        //         }
        //     }

        //     .description {
        //         display: flex;
        //         flex-direction: column;
        //         justify-content: center;
        //         align-items: flex-start;
        //         gap: 15px;

        //         @include breakpoint("lg") {
        //             width: 50%;
        //         }

        //         span {
        //             font: var(--font-body-s);
        //             color: var(--Dark-grayish-blue);
        //         }

        //         .subtitle {
        //             font: var(--font-heading-1);
        //             color: var(--Very-dark-blue);
        //         }

        //         .paragraph {
        //             font: var(--font-body-s);
        //             color: var(--Dark-grayish-blue);
        //         }

        //         .price {
        //             font: var(--font-body-l);
        //             color: var(--Very-dark-blue);
        //             text-align: center;

        //             @include breakpoint("lg") {
        //                 font: var(--font-body-g);
        //             }

        //             .percentage {
        //                 font: var(--font-body-s);
        //                 background-color: var(--Very-dark-blue);
        //                 padding: 5px 7px;
        //                 color: var(--color-White);
        //                 border-radius: 5px;
        //             }
        //         }

        //         .discount {
        //             font: var(--font-body-s);
        //             color: var(--Grayish-blue);
        //         }

        //         .counter-cart {
        //             display: flex;
        //             flex-direction: column;
        //             justify-content: center;
        //             align-items: center;
        //             gap: 15px;
        //             width: 100%;

        //             @include breakpoint("lg") {
        //                 flex-direction: row;
        //             }

        //             .counter {
        //                 display: flex;
        //                 justify-content: space-between;
        //                 align-items: center;
        //                 gap: 5px;
        //                 padding: 5px;
        //                 background-color: var(--Grayish-blue);
        //                 border-radius: 5px;
        //                 width: 100%;
        //                 font: var(--font-button-m);

        //                 @include breakpoint("lg") {
        //                     width: 50%;
        //                     font: var(--font-button-l);
        //                 }

        //                 :first-child,
        //                 :last-child {
        //                     color: var(--color-pri-orange);
        //                 }

        //                 :nth-child(2) {
        //                     color: var(--Very-dark-blue);
        //                 }
        //             }
        //         }
        //     }
        // }

        .image-slider {
            @extend .card;
        }
    }
}
