header {
    position: relative;

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-block: var(--spacing-16);
        padding-inline: var(--spacing-16);
        max-width: 1440px;
        margin: var(--spacing-0) auto;

        & > * {
            flex-basis: 33%;
        }

        @include breakpoint("lg") {
            justify-content: space-between;
            align-items: center;
            background-color: var(--Light-grayish-blue);
            position: sticky;
            top: 0;
            z-index: 3;
            padding-inline: var(--spacing-80);
            box-shadow: 1px 1px 16px 0px hsl(220deg 13% 13% / 58%);

            & > * {
                flex-basis: auto;
            }
        }

        .hamburger-menu {
            .icon-hamburger {
                display: none;
                cursor: pointer;
                width: 20%;
            }

            @include breakpoint("lg") {
                display: none;
            }
        }

        .logo {
            cursor: pointer;
        }

        .parent {
            width: 100%;
            height: 100%;

            .menu {
                display: none;

                @include breakpoint("lg") {
                    display: flex;
                    flex-direction: row !important;
                    align-items: center;
                    justify-content: center;
                    gap: var(--spacing-32);
                    position: unset !important;
                    border: none !important;
                    padding: 0 !important;
                }

                .icon-close {
                    display: none;
                    cursor: pointer;
                    width: 12%;
                    margin-top: 25px;
                }

                a {
                    font: var(--font-body-m);
                    color: var(--Very-dark-blue);

                    @include breakpoint("lg") {
                        font: var(--font-body-l);
                    }

                    &:hover {
                        color: var(--Dark-grayish-blue);
                        padding-bottom: 15px;
                        border-bottom: 2px solid var(--color-pri-orange);
                    }
                }
            }
        }

        .icons-navbar {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: var(--spacing-16);

            .cart {
                filter: brightness(0);
                width: 25%;
                cursor: pointer;
            }

            .avatar {
                width: 35%;
                cursor: pointer;

                &:hover {
                    border: 2px solid var(--color-pri-orange);
                    border-radius: 50%;
                }
            }
        }
    }

    .container {
        padding-block: var(--spacing-8);
        position: relative;

        @include breakpoint("lg") {
            padding-block: var(--spacing-16);
        }

        .show-all-product {
            padding-block: var(--spacing-16);

            h1 {
                font: var(--font-heading-2);
                color: var(--Very-dark-blue);
                text-align: center;

                @include breakpoint("lg") {
                    font: var(--font-heading-1);
                }
            }
        }
        .show-collections {
            @extend .show-data;
        }

        .image-slider {
            @extend .card;
        }
    }
}
